<div class="lab-example">
  @if (code()) {
    <div class="lab-example__actions">
      <orbit-button
        [label]="isCodeVisible() ? 'Nascondi codice' : 'Mostra codice'"
        tone="neutral"
        variant="outline"
        (clicked)="toggleCode()"
      />
    </div>
  }
  <div class="lab-example__preview">
    <div class="lab-example__content" [class.lab-example__content--full-width]="fullWidth()">
      <ng-content />
    </div>
  </div>
  @if (code() && isCodeVisible()) {
    <div class="lab-example__source">
      <orbit-code-block class="lab-example__code" [code]="code()" [collapsible]="false" />
    </div>
  }
</div>
